.main-card-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    gap: 25px;
    padding-bottom: 30px;
}
.main-card-header h3{
    color: #f7701d;
    font-size: 18px;
    letter-spacing: 3px;
}
.main-card-header h1{
    font-size: 40px;
    font-weight: bold;
    color: #334155;
    width: 60%;
    text-align: center;
}
.main-card-header p{
    width: 50%;
    font-size: 20px;
    text-align: center;
}
.main-card-header div{
    width: 15%;
    background-color: #f7701d;
    padding: 3px;
}
@media (max-width: 768px) {
    .main-card-header h1{
        width: 80%;
        font-size: 25px;
    }
    .main-card-header p{
        width: 80%;
        font-size: 15px;
    }
}