.main-footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.copyright-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-footer-form-and-links-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.footer-form-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.form-header h1{
    font-size: 30px;
    font-weight: bold;
}
.form-inputs-main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.form-input-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.form-input-div input{
    padding: 9px 25px;
    border: 1px;
    outline: none;
    border-radius: 4px;
    color: black;
}
.form-input-div div{
    display: flex;
    flex-direction: column;
}
.form-input-div div label{
    color: #f7701d;
    font-weight: 400;
    letter-spacing: 3px;
}
.input-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-submit label{
    letter-spacing: 3px;
    color: #f7701d;
}
.input-submit textarea{
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    color: black;
}
.input-submit input{
    width: 100%;
    padding: 10px;
    background-color: #f7701d;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.footer-links-div{
    width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.line-div{
    width: 0.1%;
    height: 100%;
    background-color: #585350;
}
.main-links-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-links-header h1{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-links-in-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.links-part{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 180px;
    gap: 10px;
    margin-top: 30px;
}
.links-part a:hover{
    color: #f7701d;
}
.main-foooter{
    background-color: #303b41;
}
#lst-part {
    display: flex;
    flex-direction: row;
}
.last-icons-leave{
    display: flex;
    flex-direction: column;
}
.icons-for-footer{
display: flex;
flex-direction: column;
gap: 8px;
color: #f7701d;
}
.mb-header{
    display: none;
}
@media (max-width: 767px) {
    .main-footer-form-and-links-container{
        flex-direction: column;
    }
    .footer-form-div{
        width: 100%;
    }
    .form-input-div{
        flex-direction: column;
        width: 100%;
    }
    .form-input-div div{
        width: 80%;
        gap: 2px;
    }
    .main-links-header{
        display: none;
    }
    .main-links-in-footer{
        width: 100%;
        flex-direction: column;
    }
    .links-part{
        width: 100%;
        padding-bottom: 10px;
    }
    .mb-header{
        display: flex;
        font-size: 30px;
        font-weight: bold;
    }
}